{include file="publick/link"}
<style>
	.pagination {
		width: auto;
		height: auto;
		color: #333;
		font-size: 15px;
		float: right;
		display: block;
		margin-top: 30px;
	}

	.pagination:hover {
		cursor: pointer;
	}

	.pagination li {
		width: auto;
		height: auto;
		float: left;
		padding: 2px 6px 2px 6px;
		border: 1px solid #333333;
		display: block;
		margin-right: 10px;
		text-align: center;
		border-radius: 15%;
	}

	.pagination li.active {
		background: #5a98de;
		color: #fff;
		border: 1px solid #5a98de;
	}

	.shai {
		height: 31px;
		text-align: center;
	}
</style>

<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 账户管理 <span
			class="c-gray en">&gt;</span> 账号管理
		{neq name="news" value=""}
		<span class="c-gray en">&gt;</span>
		{$news}
		{/neq}
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
			href="javascript:location.replace('{:url('accountList/index')}');" title="刷新"><i
				class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l">
				<a href="javascript:;" onclick="duo()" class="btn btn-danger radius">
					<i class="Hui-iconfont">&#xe6e2;</i>
					批量删除
				</a>
			</span>
			<span class="formControls  col-xs-3 col-sm-2">
				<select class="select shai" id="sumyear">
					<option value="0" {$code==0 ? 'selected' : '' }>请选排序规则</option>
					<option value="1" {$code==1 ? 'selected' : '' }>按时间升序</option>
					<option value="2" {$code==2 ? 'selected' : '' }>按时间倒序</option>
					<option value="3" {$code==3 ? 'selected' : '' }>按id升序</option>
					<option value="4" {$code==4 ? 'selected' : '' }>按id倒序</option>
					<option value="5" {$code==5 ? 'selected' : '' }>封禁的用户排前</option>
					<option value="6" {$code==6 ? 'selected' : '' }>未封禁的用户排前</option>
				</select>
			</span>
			<span class="formControlss">
				<form action="{:url('AccountList/index')}" method="post">
					<input type="text" class="input-text" style="width:250px" placeholder="输入用户名或邮箱号" id="news" name="news">
					<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i>
						搜用户</button>
				</form>
			</span>
			<span class="r">共有数据：<strong>{$numder}</strong>
				条</span>
		</div>
		<table class="table table-border table-bordered table-bg">
			<thead>
				<tr>
					<th scope="col" colspan="9">游客列表</th>
				</tr>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="40">ID</th>
					<th width="150">登录名</th>
					<th width="150">邮箱</th>
					<th width="130">加入时间</th>
					<th width="100">是否被封禁</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
				{volist name ="data" id="vo"}
				<tr class="text-c">
					<td><input type="checkbox" value="{$vo.id}" id="user_id" name="user_id"></td>
					<td>{$vo.id}</td>
					<td>{$vo.username}</td>
					<td>{$vo.email}</td>
					<td>{$vo.create_time}</td>
					<td class="td-status">
						{$vo.user_status|status}
					</td>
					<td class="td-manage">
						{eq name="$vo.user_status" value="0"}
						<a onClick="admin_start(this,{$vo.id},{$vo.user_status})" href="javascript:;" title="解封用户"
							style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>
						{else/}
						<a onClick="admin_stop(this,{$vo.id},{$vo.user_status})" href="javascript:;" title="封禁用户"
							style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>
						{/eq}
						<a title="删除" href="javascript:;" class="ml-5" style="text-decoration:none"
							onclick="admin_del(this,{$vo.id})">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
				{/volist}
			</tbody>
		</table>
		<div class="">
			{$data->render()}
		</div>
	</div>
	<!--_footer 作为公共模版分离出去-->
	{include file="publick/footer"}
	<!--/_footer 作为公共模版分离出去-->

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__STATICA__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
	<script type="text/javascript" src="__STATICA__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__STATICA__/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
		/*
			参数解释：
			title	标题
			url		请求的url
			id		需要操作的数据id
			w		弹出层宽度（缺省调默认值）
			h		弹出层高度（缺省调默认值）
		*/

		$("#sumyear").change(function () {
			var order = $(this).children('option:selected').val();
			if (order != 0) {
				$.ajax({
					type: 'POST',
					url: "{:url('accountList/ce')}",
					data: {
						"order": order,
					},
					dataType: 'json',
					success: function (data) {
						if (data.code == 1) {
							location.href = data.data;
						}
					},
					error: function (data) {
						console.log(data.msg);
					},
				});
			}
		});
		/*管理员-增加*/
		function admin_add(title, url, w, h) {
			layer_show(title, url, w, h);
		}
		/*管理员-删除*/
		function admin_del(obj, id) {
			layer.confirm('确认要删除该用户吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{:url('AccountList/delete_active_user')}",
					data: {
						'id': id,
					},
					dataType: 'json',
					success: function (data) {
						if (data.status == 0) {
							layer.msg('删除失败', { icon: 1, time: 1000 });
						} else {
							$(obj).parents("tr").remove();

							layer.msg('已删除!', { icon: 1, time: 1000 });
						}
					},
					error: function (data) {
						console.log(data.msg);
					},
				});
			});
		}

		/*管理员-编辑*/
		function admin_edit(title, url, id, w, h) {
			layer_show(title, url, w, h);
		}
		/*管理员-停用*/
		function admin_stop(obj, id, status) {
			layer.confirm('确认要封禁该用户15天吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{:url('AccountList/update_status')}",
					data: {
						"id": id,
						"user_status": status,
					},
					dataType: 'json',
					success: function (data) {
						if (data.error == 1) {
							$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,' + id + ',' + data.status + ')" href="javascript:;" title="解封用户" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已封禁</span>');
							$(obj).remove();
							layer.msg('该用户已封!', { icon: 5, time: 1000 });
						} else {
							layer.msg(data.msg, { icon: 5, time: 1000 });
						}
					},
					error: function (data) {

					},
				});
			});
		}

		/*管理员-启用*/
		function admin_start(obj, id, status) {
			layer.confirm('确认要解封该用户吗？', function (index) {
				$.ajax({
					type: 'POST',
					url: "{:url('AccountList/update_status')}",
					data: {
						"id": id,
						"user_status": status,
					},
					dataType: 'json',
					success: function (data) {
						if (data.error == 1) {
							$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,' + id + ',' + data.status + ')" href="javascript:;" title="封禁用户" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
							$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">正常</span>');
							$(obj).remove();
							layer.msg('该用户已解封!', { icon: 6, time: 1000 });
						} else {
							layer.msg(data.msg, { icon: 5, time: 1000 });
						}
					},
					error: function (data) {

					},
				});
			});
		}

		function duo() {
			var checkedNum = $("input[name='user_id']:checked").length;
			layer.confirm("确定删除所选项目?", function (index) {
				if (checkedNum == 0) {
					layer.msg("至少选择一项", { icon: 5, time: 1000 });
					return false;
				} else {
					var checkedList = new Array();
					$("input[name='user_id']:checked").each(function () {
						checkedList.push($(this).val());
					});
					$.ajax({
						type: "POST",
						url: "{:url('AccountList/del_users')}",
						data: {
							"id": checkedList,
						},
						dataType: "json",
						success: function (data) {
							if (data.status == 1) {
								layer.msg(data.msg, { icon: 6, time: 1000 });
								$("input[type='checkbox']:gt(0):checked").parent().parent().remove();
							} else {
								layer.msg(data.msg, { icon: 5, time: 1000 });
							}
						},
						error: function (data) {

						},
					});
				}
			});
		}
	</script>
</body>

</html>