<script type="text/javascript" src="__STATICA__/lib/jquery.min.js"></script>
	<script type="text/javascript" src="__STATICA__/static/h-ui/js/h-ui.js"></script>
	<script type="text/javascript" src="__STATICA__/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="__STATICA__/lib/jQuery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
	<script type="text/javascript">
		$(function () {
			jQuery("#slider-3 .slider").slide({
				mainCell: ".bd ul",
				titCell: ".hd li",
				trigger: "click",
				effect: "leftLoop",
				autoPlay: true,
				delayTime: 500,
				interTime: 5000,
				pnLoop: false,
				titOnClassName: "active"
			});


		});

	</script>